@model IEnumerable<RdwTechdayRegistration.Models.ApplicationUser>

@{
    ViewData["Title"] = "Users";
    ViewData["Message"] = "Inzien en Bewerken";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>Bevestigd</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organisation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
               
                <td>
                    <a href="mailto:@Html.DisplayTextFor(modelItem => item.Email)" target="_top"><span class='fa fa-envelope'>&nbsp;</span>@Html.DisplayTextFor(modelItem => item.Email)</a>
                </td>
                <td>
                    @{ if ( item.PhoneNumber != null && item.PhoneNumber.Trim().Length != 0)
                    {
                        <a href="tel:@Html.DisplayTextFor(modelItem => item.PhoneNumber)" target="_top"><span class='fa fa-phone'>&nbsp;</span>@Html.DisplayTextFor(modelItem => item.PhoneNumber)</a>
                    }}
                </td>
                <td>
                    @(item.EmailConfirmed ? "Ja" : "Nee")
                </td>
                <td>
                    @if ( item.UserName != User.Identity.Name)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <text>|</text>
                        @if ( item.isAdmin )
                        {
                            <a asp-action="RevokeAdminRole" asp-route-id="@item.Id">Intrekken Administrator</a>
                        }
                        else
                        {
                            <a asp-action="AddAdminRole" asp-route-id="@item.Id">Maak Administrator</a>
                        }
                    } else
                    {
                        <span>Dit bent u zelf</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
