@model RdwTechdayRegistration.Models.Sessie

@{
    ViewData["Title"] = "Sessie";
    ViewData["Message"] = "Inzien";
}
<p>
    <a asp-action="DetailsExcel" asp-route-id="@Model.Id" class="btn btn-rdw">Download Excel</a>
</p>

<div>
    <div class="form-group">
        <label asp-for="Naam" class="control-label"></label>
        <input asp-for="Naam" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Track.Naam" class="control-label"></label>
        <input asp-for="Track.Naam" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Ruimte.Naam" class="control-label"></label>
        <input asp-for="Ruimte.Naam" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label class="control-label">Tijd</label>
        <input value="@Model.TimeRange()" class="form-control" readonly />
    </div>
</div>
<div>
    @if (ViewBag.Attendants.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Organisatie</th>
                    <th>Divisie</th>
                    <th>E-Mail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ApplicationUser user in ViewBag.Attendants)
                {
                    <tr>
                        <td><a asp-action="Details" asp-controller="Users" asp-route-id="@user.Id">@Html.DisplayFor(modelItem => user.Name)</a></td>
                        <td>@user.Organisation</td>
                        <td>@user.Department</td>
                        <td><a href="mailto:@Html.DisplayTextFor(modelItem => user.Email)" target="_top"><span class='fa fa-envelope'>&nbsp;</span>@Html.DisplayTextFor(modelItem => user.Email)</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Deze sessie heeft nog geen deelnemers.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
