@model IEnumerable<RdwTechdayRegistration.Models.Sessie>

@{
    ViewData["Title"] = "Sessies";
    ViewData["Message"] = "Inzien en bewerken";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ruimte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track)
            </th>
            <th>
                Tijd
            </th>
            <th>
                Vulling
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Naam)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ruimte.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track.Naam)
            </td>
            <td>
                @item.TimeRange()
            </td>
            <td>
                @if (@ViewBag.UserCounts.ContainsKey(item.Id))
                {
                    <text>@ViewBag.UserCounts[item.Id]</text>
                }
                else
                {
                    <text>0</text>
                }
                /
                @item.Ruimte.Capacity
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
