@model IdentityTest.Models.Track

@{
    ViewData["Title"] = "Track";
    ViewData["Message"] = "Inzien";
}

<div>
    <h4>Track</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rgb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rgb)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
