@model RdwTechdayRegistration.Models.Maxima

@{
    ViewData["Title"] = "Aantallen";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MaxRDW" class="control-label"></label>
                <input asp-for="MaxRDW" class="form-control" />
                <span asp-validation-for="MaxRDW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxNonRDW" class="control-label"></label>
                <input asp-for="MaxNonRDW" class="form-control" />
                <span asp-validation-for="MaxNonRDW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteHasBeenLocked" class="control-label"></label>
                <input asp-for="SiteHasBeenLocked" class="form-control" />
                <span asp-validation-for="SiteHasBeenLocked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Totalen</div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <text>Geverifieerde Gebruikers</text>
                        </td>
                        <td>
                            @ViewBag.ConfirmedUserCount
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Niet geverifieerde Gebruikers</text>
                        </td>
                        <td>
                            @ViewBag.UnconfirmedUserCount
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Geverifieerde RDW Gebruikers</text>
                        </td>
                        <td>
                            @ViewBag.ConfirmedRdwUserCount
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Ongeverifieerde RDW Gebruikers</text>
                        </td>
                        <td>
                            @ViewBag.UnconfirmedRdwUserCount
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Geverifieerde niet-RDW Gebruikers</text>
                        </td>
                        <td>
                            @ViewBag.ConfirmedNonRdwUserCount
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Ongeverifieerde niet-RDW Gebruikers</text>
                        </td>
                        <td>
                            @ViewBag.UnconfirmedNonRdwUserCount
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
